#main-footer {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;

  position: fixed;
  bottom: 0;
  padding: 1rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(150, 150, 150, 0.2),
    rgba(150, 150, 150, 0.5)
  );
}
