#main-footer {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;

  position: fixed;
  bottom: 0;
  padding: 1rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
}
