@use "../../../styles/colors" as colors;

#main-navbar {
  font-family: "Montserrat", sans-serif;

  width: fit-content;
  min-height: 2rem;
  padding: 0.7rem;
  margin: 0.5rem;
  background-color: colors.$main-color-dark;
  position: sticky;
  top: 0;

  box-shadow: 0 0 12px colors.$main-color-light;
  border-radius: 40px;

  a {
    color: colors.$main-color-light;

    h2 {
      width: fit-content;
      transition: all 0.3s ease-in-out;
    }

    :hover {
      text-shadow: rgba(150, 150, 150, 0.5) 1px 0 10px;
    }
  }
}
