@use "../../../../styles/colors.scss" as colors;

#ult-guitar-left-sidebar {
  width: 192px;
  height: 100%;
  border-right: solid 1px colors.$ult-tab-borders;
  padding: 16px;
  font-weight: 600;
  font-size: 12px;

  .user-toolbox {
    .user-informations {
      display: flex;

      .profile-details {
        color: colors.$ult-tab-text-light-grey;
        margin-left: 6px;
      }

      .profile-pic {
        width: 32px;
        height: 32px;
        background-image: url("../../../../../public/grumpy-cat.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
      }
    }

    .user-links {
      padding: 12px 0 16px;

      a {
        display: flex;
        padding: 4px 5px;
        margin: 0 -4px 2px;

        div {
          color: colors.$ult-tab-light-grey;
          margin-left: 6px;
        }
      }
    }
  }

  .website-users-informations {
    color: colors.$ult-tab-text-light-grey;
    font-size: 11px;
    padding-top: 16px;

    .users-online {
      padding: 2px 6px;
      background-color: colors.$ult-tab-navbar-background;
      border-radius: 4px 2px;
      line-height: 24px;
    }

    .members-and-guests {
      margin: 4px 6px;
      line-height: 14px;
    }
  }
}
