$main-color-dark: rgb(20, 20, 20) !default;
$main-color-light: rgb(235, 235, 235) !default;

//guitar tabs colors
$ult-tab-background: #111;
$ult-tab-navbar-background: #2d2d2d;
$ult-tab-borders: #606060;
$ult-tab-light-grey: #929292;
$ult-tab-text-light-grey: #ddc;
$ult-tab-white: #ffffff;

$ult-tab-primary: #ffc600;
$ult-tab-secondary: #f55d55;
